* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  position: relative;
  overflow: hidden;
  width: 150vh;
  height: 80vh;
  background-color: rgb(58, 55, 72);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 50vh;
  height: 50vh;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
}

.square {
  background-color: rgb(58, 55, 72);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-icon {
  fill: #FF6B6B;
  width: 80%;
  height: 80%;
}

.circle-icon {
  fill: #4ECDC4;
  width: 70%;
  height: 70%;
}

dialog {
  margin: auto;
  width: 55%;
  height: 55%;
  padding: 20px;
  background-color: rgb(30, 30, 38);
  border: 2px solid rgb(78, 205, 196);
  border-radius: 8px;
}
::backdrop {
  background: rgb(0, 0, 0);
  opacity: 0.75;
}

form {
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center;
  gap: 15px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input[type="text"] {
  width: 40%;
  height: 25px;
  margin-bottom: 10px;
}

input[type="radio"] {
  cursor: pointer;
}

label {
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
}

fieldset {
  width: 40%;
  border: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

button {
  cursor: pointer;
}

.buttons-field {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.buttons-field button {
  padding: 10px 25px;
  border-radius: 10px;
  border: 1px solid grey;
  font-size: 1rem;
  font-weight: 700;
}

.close-button:hover {
  border: 3px solid rgb(226, 51, 51);
  transition: all 0.1s cubic-bezier(0.42, 0, 0.1, 0.61);
}

.start-button:hover {
  border: 3px solid rgb(78, 205, 196);
  transition: all 0.1s cubic-bezier(0.42, 0, 0.1, 0.61);
}

.dialog-button {
  width: 22vh;
  height: 8vh;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 10px;
  border: 2px solid rgb(78, 205, 196);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.1, 0.61);
}

.dialog-button:hover {
  background-color: rgb(58, 185, 176);
  color: white;
}

p {
  background-color: white;
}

.start-msg, 
.current-msg,
.winner-msg {
  position: absolute;
  top: 10px;
  text-align: center;
  background-color: rgb(58, 55, 72);
  color: white;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 500;
}