* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #121212;
}
.container {
  overflow: hidden;
  width: 90%;
  height: 600px;
  background-color: rgb(58, 55, 72);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 350px;
  height: 400px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}

.square {
  background-color: rgb(58, 55, 72);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.x-icon {
  fill: #FF6B6B;
  width: 80%;
  height: 80%;
}

.circle-icon {
  fill: #4ECDC4;
  width: 70%;
  height: 70%;
}

